:root {
    --cinzaAzulado: rgb(219, 224, 236);
    --azulEscuro: #363375;
    --azulClaro: rgb(168, 176, 231);
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--cinzaAzulado);
}

header{
    width: 100%;
    color: white;
    background-color: var(--azulEscuro);
}

nav{
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    position: sticky;
    top: 0;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
  }
  
  nav ul li{
  border-radius: 0px;
  display: inline-block;
  position: relative;
  padding: 10px;
  width: 20%;
}
nav ul li:hover{
  background-color: var(--cinzaAzulado);
}
nav ul li:hover ul{
  width: 100%;
  display: block;
  
}
nav ul li ul li:hover a{
  background-color: var(--azulEscuro);
  color: white;
  font-weight: bold;
}
nav ul li ul li:hover{
  background-color: var(--azulEscuro);
  color: white;
  font-weight: bold;
}

nav ul ul{
  font-weight: 100;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
  border-radius: 0px 0px 15px 15px;
}

nav ul ul li{
  border-radius: 0px 0px 15px 15px;
  text-align: left;
  width: auto;
  display: block;
}

nav ul ul li a{
  display: block;
  text-decoration: none;
  color: var(--azulEscuro);
  padding: 10px;
}

.produto{
  border: 0 none;
  border-radius: 25px;
  position: relative;
  width: 12%;
  text-align: center;
  background-color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0.2%;
}

.nomeProduto{
  color: var(--azulEscuro);
  text-align: left;
  font-size: 1.1em;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.precoOriginal{
  color: var(--azulClaro);
  text-decoration: line-through;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0;

}

.precoDesconto{
  text-align: left;
  padding-left: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 0;
}

.propaganda{
    width: 90%;
    padding: 5%;
    margin: 2% auto;
    border-radius: 10px;
    background-color: var(--azulClaro);
    justify-content: center;
}



footer{
    color: white;
    background-color:var(--azulEscuro);
    padding: 5%;
}


.conteudo-main{
    width: 80%;
    margin: 0 auto;
}

.botaoLogo{
  padding: 5px 20px;
  background-color: white;
  border: 0px none;
  border-radius: 25px;
  margin: 20px;
  margin-left: 50px;
}
.botaoLogo:active{
    background-color: var(--cinzaAzulado);
}
.headerIcons{
    display: inline-block;
    position: absolute;
    top: 4%;
    right: 2%;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(263deg) brightness(116%) contrast(100%);
}

.headerSingleIcon{
  margin: 0px 40px;
}
.headerButton{
  background-color: rgba(76, 0, 130, 0);
  border: 0px none;
}
.busca{
    position: absolute;
    top: 35px;
    
    left: 200px;
}

.botaoBusca{
    position: relative;
    top: -43px;
    left: 144%; /*CONSERTAR ISSO POR FAVOR*/
    border: 0px none;
    background-color: rgba(139, 69, 19, 0);   
    filter: invert(18%) sepia(13%) saturate(6695%) hue-rotate(221deg) brightness(55%) contrast(90%); 
}

.botaoBusca:active{
  filter: invert(18%) sepia(13%) saturate(6695%) hue-rotate(221deg) brightness(100%) contrast(90%); 

}
.caixaBusca{
    color: var(--azulEscuro);
    position: relative;
    width: 140%;
    padding: 10px 20px;
    padding-right: 50px;
    font-size: 1.2em;
    margin-top: 10px;
    border: 0px none;
    border-radius: 25px;
}
.caixaBusca:focus{
  outline: none;
  border: 0px none ;
}

h3{
    text-align: center;
    font-size: 40px;
    color: #3b3b79;
    font-family: sans-serif;
}

.login-input{
    display: inline-block;
    box-sizing: border-box;

    background: #dbe0ec;
    padding: 20px;
    color: #3b3b79;
    font-family: sans-serif;

    border-color: lightgray;
    border: 1.5px solid lightgray;
    height: 40px;
    width: 75%;
    margin: 10px 0 0 10px;

    display: inline-block;

    border-radius: 20px;
}

.login-label {
    color: #847dac;
    font-family: sans-serif;
    margin-left: 15px;
    font-size: 15px;
    word-break:initial;
    display: inline-block;
}

#login-button {
    scale: 1.2;
    border-radius: 20px;
    max-width: 130px;
    max-height: 28px;
    width: 130px;
    height: 28px;
    
    background-color: #3b3b79;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
   
    border: none;
    margin-left: 35%;
    margin-top: 12%;
}

#login-button:hover{
    cursor: pointer;;
}

#login-box {
    background-color: white;
    width: 21%;
    height: 42%;
    box-sizing: border-box;
    
    padding: 30px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -40%);
    border-radius: 20px;
}

#register-box{
    background-color: white;
    width: 21%;
    height: 55%;
    box-sizing: border-box;
    
    padding: 30px;

    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(10%, -40%);
    border-radius: 20px;
}

.switch {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 70%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3b3b79;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3b3b79;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  footer {
    color: white;
    display: flex;
    background-color: #3b3b79;
    text-align: center;
    margin-top: 38%;
  }

  .container-image{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-left: 18%;
    background-color: #3b3b79;
    border-radius: 50%;
    padding: 30px;
  }

  .avatar {
    margin-left: 10px;
    width: 120px;
    height: 120px;
  }

  #config-board{
    box-sizing: border-box;

    background-color: white;
    width: 18%;
    height: 60%;
    
    padding: 30px;

    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 20px;
  }

  .configs{
    margin-top: 15%;
    list-style: none;
    color: #3b3b79;
    text-align: center;
    margin-right: 10%;
  }

  .item-config{
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 20px;
  }

  #config-menu{
    background: white;

    width: 30%;
    height: 60%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    border-radius: 20px;

    padding: 40px;
  }

  .options{
    margin-top: 30px;
    list-style: none;
    color: #3b3b79;
  }

  .item-options{
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 20px;
  }

  #config-switch{
    margin-top: 17px;
    transform: translate(100px, -170px);
}

.upload-button {
    position: absolute;
    transform: translate(-220px, -147px);
}

login-button:hover, #login-button:hover{
    border-width: 2.5px;
    border-style: solid;
    border-color:rgb(54, 51, 117);
    background: white;
    color: rgb(54, 51, 117);
}

a{
    text-decoration: none;
    color: rgb(54, 51, 117);
}

.contact-title{
    font-size: 32px;
    color: white;
    transform: translate(750px, -110px);
}