:root {
  --cinzaAzulado: #dbe0ec;
  --azulEscuro: #363375;
  --azulClaro: #a8b0e7;
  --precoOriginal: #7681E2;
  --precoHighlight: #4555E2;
}

td {
  width: 20%; 
  white-space: nowrap;
}

@media (max-width: 600px) {
  td {
    width: 50%; 
    display: block; 
    white-space: normal;
  }
}

hr{
  color: var(--azulEscuro);
  border: 1px solid;
  border-radius: 2px;
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--cinzaAzulado);
  overflow-x: hidden;
  font-family: sans-serif;
  
}
header{
  width: 100%;
  color: white;
  background-color: var(--azulEscuro);
  z-index: 100;
}

ul{
  list-style-type: none;
}
nav{
  font-weight: bold;
  background-color: white;
  text-align: center;
  border-radius: 0px 0px 50px 50px;
  position: sticky;
  top: 0;
  z-index: 90;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border-radius: 0px 0px 50px 50px;
}

nav ul li{
border-radius: 0px;
display: inline-block;
position: relative;
padding: 10px;
width: 20%;
}
nav ul li:hover{
background-color: var(--cinzaAzulado);
}

nav ul li:hover ul{
width: 100%;
display: block;

}
nav ul li ul li:hover a{
background-color: var(--azulEscuro);
color: white;
font-weight: bold;

}
nav ul li ul li:hover{
background-color: var(--azulEscuro);
color: white;
font-weight: bold;
}

nav ul ul{
font-weight: 100;
display: none;
position: absolute;
top: 100%;
left: 0;
padding: 0;
border-radius: 0px 0px 15px 15px;
}

nav ul ul li{
border-radius: 0px 0px 15px 15px;
text-align: left;
width: auto;
display: block;
}

nav ul ul li a{
display: block;
text-decoration: none;
color: var(--azulEscuro);
padding: 10px;
}

nav:hover + main .opacityEffect {
  opacity: 1;
  visibility: visible;
}

.topico{
  color: var(--azulEscuro);
  font-size: 2em;
  font-weight: bolder;
  margin-left: 3%;
}

.opcoesAvancadas{
  display: inline-block;
  background-color: white;
  width: 300px;
  text-align: left;
  border-radius: 10px;
  padding: 0.2%;

}

.elemOpcAvancada{
  position: relative;
  top: -100px;
  right: -400px;
}

.opacityEffect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 22, 139, 0.274);
  opacity: 0;
  visibility:hidden;
  transition: opacity 0.3s ease; 
  z-index: 2;
}

.footerData{
  font-weight: 100;
}

table{
  width: 100%;
  padding: 10px;
}

.favorite{
  background-color: rgba(255, 222, 173, 0);
  border: 0px none ;
  position: absolute;
  left: 10px;
  top: 10px;
}

.sessao{
  width: 66%;
  margin: 0 auto;
}

.produto{
display: inline-block;
border: 0 none;
border-radius: 25px;
position: relative;
width: 220px;
text-align: center;
background-color: white;
font-weight: bold;
padding: 0.2%;
margin: 0.5%;
}

.produto:hover, .categoria:hover, .adicionarProduto:hover{
  box-shadow: 0px 0px 15px var(--azulEscuro);
}

.nomeProduto{
color: var(--azulEscuro);
text-align: left;
font-size: 1.1em;
overflow: hidden;
margin-top: 1%;
margin-bottom: 0;
}

.precoOriginal{
color: var(--precoOriginal);
text-decoration: line-through;
text-align: left;
padding-left: 10px;
margin-bottom: 0;
margin-top: 0;

}

.precoDesconto{
color: var(--precoHighlight);
text-align: left;
padding-left: 10px;
font-size: 1.2em;
font-weight: bolder;
margin-top: 0;
margin: 0;
}

.freteGratis{
  font-size: 0.9em;
  font-weight: 100;
  color: var(--precoHighlight);
  display: inline-block;
  position: relative;
  top: -10px;
  margin: 0px;
}

.stars{
  position: relative;
  bottom: 7px;
}

.categorias{
  width: 90%;
  display: block;

}

.categoria{
  text-align: center;
  padding: 2%;
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  margin: 0.5%;
  width: 20%;
}

.nomeCategoria{
  color: var(--azulEscuro);
  position: relative;
  top: -30px;
}

.propaganda{
  color: white;
  width: 60%;
  padding: 5%;
  margin: 2% auto;
  border-radius: 10px;
  background-color: var(--azulClaro);
  justify-content: center;
}

.conteudo-main{
  width: 80%;
  margin: 0 auto;
}

.botaoLogo{
width: 70px;
padding: 1% 1%;
background-color: white;
border: 0px none;
border-radius: 25px;
margin-left: 50px;
border: 5px solid var(--azulEscuro);

}
.botaoLogo:active{
  background-color: var(--cinzaAzulado);
}
.headerIcons{
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 2%;
  filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(263deg) brightness(116%) contrast(100%);
}

.headerSingleIcon{
margin: 0px 40px;
}
.headerButton{
background-color: rgba(76, 0, 130, 0);
border: 0px none;
}
.busca{
  position: absolute;
  top: 30px;
  left: 200px;
}

.botaoBusca{
  position: relative;
  top: -43px;
  left: 144%; /*CONSERTAR ISSO POR FAVOR*/
  border: 0px none;
  background-color: rgba(139, 69, 19, 0);   
  filter: invert(18%) sepia(13%) saturate(6695%) hue-rotate(221deg) brightness(55%) contrast(90%); 
}

.botaoBusca:active{
filter: invert(18%) sepia(13%) saturate(6695%) hue-rotate(221deg) brightness(100%) contrast(90%); 

}
.caixaBusca{
  color: var(--azulEscuro);
  position: relative;
  width: 140%;
  padding: 10px 20px;
  padding-right: 50px;
  font-size: 1.2em;
  margin-top: 10px;
  border: 0px none;
  border-radius: 25px;
}

.caixaBusca:focus, .-input:focus{
outline: none;
border: 0px none ;
}

.simpleCarousel{
  display: inline-block;
  position: relative;
  right: -50%;
  transform: translateX(-50%);
}
.leftButton, .rightButton{
  background-color: white;
  border: 1px solid var(--azulEscuro);
  border-radius: 100px;
  font-size: 3em;
  color: var(--azulEscuro);
  padding: 3px 15px;
}
.leftButton:active, .rightButton:active{
  background-color: var(--azulEscuro);
  color: white;

}

.leftButton{
  position: relative;
  left: 3%;
  top: 280px;
}
.rightButton{
  position: relative;
  left: 92%;
  top: -265px;
}

.imagem1{
  display: inline-block;
  border-radius: 25px;
}
.imagem2{
  display: none;
  border-radius: 25px;
}

.adicionarProduto{
  background-color: white;
  display: inline-block;
  width: 220px;
  text-align: center;
  padding: 0.2%;
  border-radius: 25px;
  font-size: 8em;
  color: var(--azulEscuro);
}

.carrinhoEndereco{
  width: 500px;
  height: 225px;
  border-radius: 25px;
  background-color: white;
  margin-top: 120px;
}

.remover{
  color: rgb(255, 0, 179);
  background-color: #00000000;
  font-weight: bolder;
  border: 0 none;
  font-size: 1.2em;
  position: absolute;
  right: 10px;
}

.remover:hover{
  background-color: rgb(255, 0, 179);
  color: white;
  border-radius: 25px;
}

.resumoCompra{
  background-color: white;
  color: var(--azulEscuro);
  width: 600px;
  border-radius: 20px;
  padding: 1%;
  font-size: 1.3em;
}

.somaTotal{
  border-collapse: separate;

}

.juros{
  font-size: 0.8em;
  position: absolute;
  transform: translate(115px,-25px);
}

::placeholder{
  color: var(--azulEscuro);

}

.totalCompra{
  font-size: 2.5em;
  font-weight: bold;
}

.enfaseTotal, .noPix{
  color: var(--precoHighlight);
  font-weight: bolder;
}
.noPix{
  position: absolute;
  transform: translate(330px,-80px);
}

.Pagamento{
  width: 80%;
  color: var(--azulEscuro);
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
}

.tabelaPagamento{
  text-align: left;
  width: 100%;
}

.formaPagamento{
  background-color: var(--azulEscuro);
  border: 0 none;

  border-radius: 25px;
  padding: 10px;
  color: white;
  font-weight: bolder;
}

.formaPagamento:active{
  color: var(--azulEscuro);
  outline: 1px;
  outline-color: var(--azulEscuro);
  outline-style: solid;
  background-color: white;
}

.agradecimento{
  background-color: white;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 2%;
  color: var(--azulEscuro);
  font-weight: bold;
  font-size: 2em;
}

h3{
  text-align: center;
  font-size: 40px;
  color: #3b3b79;
}

.login-input{
    display: inline-block;
    box-sizing: border-box;

    background: #dbe0ec;
    padding: 20px;
    color: #3b3b79;

    border-color: lightgray;
    border: 1.5px solid lightgray;
    height: 40px;
    width: 75%;
    margin: 10px 0 0 10px;

    display: inline-block;

    border-radius: 20px;
}

.login-label {
    color: #847dac;
    margin-left: 15px;
    font-size: 15px;
    word-break:initial;
    display: inline-block;
}

#login-button {
    scale: 1.2;
    border-radius: 20px;
    width: 130px;
    height: 28px;

    
    background-color: #3b3b79;
    color: white;
    font-size: 17px;
    font-weight: bold;
   
    border: none;

}

#login-button:hover{
    cursor: pointer;
}
.login-button {
    scale: 1.2;
    border-radius: 20px;
    background-color: #3b3b79;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: none;
}

.file-input-container {
  position: relative;
  display: inline-block;
}

.file-input-label {
  /* Apply styles to the custom-styled button */
  padding: 4px;
  background-color: #3b3b79;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #4c4c8b;
}

.file-input-label:focus {
  box-shadow: 0 0 0 2px rgba(59, 59, 121, 0.5);
}

/* Hide the default file input */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.login-button:hover{
    cursor: pointer;
}

#login-box {
    background-color: white;
    width: 400px;
    height: 450px;
    box-sizing: border-box;
    
    padding: 30px;
    border-radius: 20px;
}

#register-box{
    background-color: white;
    width: 400px;
    height: 550px;
    box-sizing: border-box;
    
    padding: 30px;

    border-radius: 20px;
}

.switch {

  margin-top: 20px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 70%;

  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3b3b79;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3b3b79;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  footer {
    position:relative;
    bottom: 0px;
    height: 200px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
    color: white;
    background-color:var(--azulEscuro);
  }

  .container-image{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin-left: 18%;
    background-color: #3b3b79;
    border-radius: 50%;
    padding: 30px;
  }

  .avatar {
    margin-left: 10px;
    width: 120px;
    height: 120px;
  }

  #config-board{
    background-color: white;
    width: 380px;
    height: 550px;
    box-sizing: border-box;
    
    padding: 30px;
    border-radius: 20px;
  }

  .configs{
    margin-top: 15%;
    list-style: none;
    color: #3b3b79;
    text-align: center;
    margin-right: 10%;
  }

  .item-config{
    margin-top: 20px;
    font-size: 20px;
  }

  #config-menu{
    background: white;
    width: 650px;
    height: 550px;
    box-sizing:border-box;
    margin: 0;
    padding: 30px;


    border-radius: 20px;
    padding: 40px;
  }

  .options{
    margin-top: 30px;
    list-style: none;
    color: #3b3b79;
  }

  .item-options{
    margin-top: 30px;
    font-size: 20px;
    color: var(--azulEscuro);
  }

.login-button:hover, #login-button:hover{
    border-width: 2.5px;
    border-style: solid;
    border-color:rgb(54, 51, 117);
    background: white;
    color: rgb(54, 51, 117);
}


a{
    text-decoration: none;
    color: rgb(54, 51, 117);
}

.contact-title{
    font-size: 32px;
    color: white;
}

.img_produto{

  width: 20%;
  height: 20%;
  background-color: white;
  display: inline-block;
}

.adicionarCarrinho > p{
  font-size: 100px;
}

.produtoSide{
  left: 15%;
  top: 33%;
  margin-top: 2%;
  display: inline-block;
  position: relative;
  width: 750px;  
}

.produtosSemelhantes{
  background-color: white;
  height: 300px;
  margin: 0 auto;
  width: 80%;
  border-radius: 30px;
  margin-top: 200px;
}

.descricaoProduto{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 30px;
  padding: 30px;
}

.descricaoProduto > p{
  font-size: 30px;
  padding: 70px;
  padding: 3%;
}

.respostaVendedor{
  background-color:  #363375;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  overflow: auto;
}

.respostaVendedor > p{
  color: white;
  display:inline;
}

#adicionarCarrinho{
  height: 200px;
  width: 500px;
  font-size: 30px;
}

.novoAnuncio{
  background-color: white;
  box-sizing: border-box;
  width: 700px;
  height: 60%;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 20px;
  padding: 30px;
}

.tituloNovoProduto{
  padding: 30px 30px 20px 10px;
  font-size: 30px;
  font-weight: bold;
}

.check-input{
  display: inline-block;
  box-sizing: border-box;

  background: #dbe0ec;
  padding: 10px 10px 10px 20px;
  color: #3b3b79;

  border-color: lightgray;
  border: 1.5px solid lightgray;
  height: 40px;
  width: 20%;
  margin: 10px 0 0 10px;

  border-radius: 20px;
}

.textArea{
  font-family: sans-serif;
  resize: none;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  background-color: #dbe0ec;
  color: #363375;
  font-size: 20px;
}

.uploadCentralizeProfile{
  padding-top: 200px;
  padding-left: 225px;
}

.table100{
  width: 100%;
}

.table90{
  width: 90%;
}
.table50{
  width: 50%;
}

.center80{
  margin: 0 auto;
  width: 80%;
}
.center60{
  margin: 0 auto;
  width: 60%;
}
.paddingL240{
  padding-left: 240px;
}
.paddingL120{
  padding-left: 120px;
}

.paddingT5{
  padding-top: 5px;
}
.produtoContainer{
  width: 600px;
  height: 600px;
}

.pl3pr11{
  padding-left: 3%;
  padding-right: 11%;
}
.pl15pr15{
  padding-left: 15%; 
  padding-right: 15%;
}
.pl20pr15{
  padding-left: 20%; 
  padding-right: 15%;
}

.tdVerticalCenter{
  vertical-align: top;
}

.checkBoxFix{
  position: relative;
  top:-50px;
}

.height50{
  height: 50px;
}

.paddingL15percent{
  padding-left: 15%;
}
.paddingL13percent{
  padding-left: 13%;
}

.inline{
  display: inline;
}
.padding2percent{
  padding: 2%;
}

.loginList{
  list-style-type: none;
  text-align: center; 
  padding: 0;
}

.paddingT20{
  padding-top: 20px;
}
.paddingT40{
  padding-top: 40px;
}
.paddingT20B40{
  padding-top:20px; 
  padding-bottom: 40px;
}

.textCenter{
  text-align: center;
}

.width100percent{
  width: 100%;
}

.allignFinalizar{
  position: relative; 
  top: -3px; 
  right: 13%;
   padding: 8px;
}

.nomeProdutolocation{
  font-size: 35px; 
  position: relative;
  left: 10.5%; top: 22%
}

.top20percentR{
  position: relative; 
  top: 20%;
}

.nomeProdutoFix{
  color: var(--azulEscuro);
  text-align: left;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 0;
  font-size: 20px;
}

.precoOriginalPlacement{
  font-size: 25px;
  margin-top: 2%;
  font-weight: bold;
  padding-right: 2%;
}

.precoDescontoPlacement{
  margin-top: 0;
  padding-left: 2%;
}

.fontSize2em{
  font-size: 2em;
}
.fontSize3em{
  font-size: 3em;
}

.vendedorHighlight{
  font-weight: bold;
  padding-right: 10px;
}


::-webkit-scrollbar {
  width: 10px;
  background-color: var(--cinzaAzulado);
  border-radius: 25px;
}


::-webkit-scrollbar-thumb {
  background-color: var(--azulClaro);
  border-radius: 25px; 
}


::-webkit-scrollbar-thumb:hover {
  background-color: #5a5aa9; 
  border-radius: 25px;
}
